server {
    listen 80 default_server;
    listen 443 ssl;

    # Multi site configuration
     #listen {{ server_ipv4 }}:80;
    
    ssl_certificate {{ crt_file_path }};
    ssl_certificate_key {{ key_file_path }}; 

    location / {
        include uwsgi_params;
        uwsgi_pass unix:{{ emoji_service_user_home }}/emojiservice.sock;
    }
}

# Redirection from http to https
#server {
#   listen {{ server_ipv4 }}:80;
#    return 301 https://$server_addr$request_uri;
#}