[Unit]
Description=Enterprise Grade Service which can provide you with the best emojis ever!
After=network.target

[Service]
User={{ service_user_name }}
Group=www-data
WorkingDirectory={{ service_user_home }}
Environment="PATH={{ service_user_home }}/service-venv/bin"
ExecStart={{ service_user_home }}/service-venv/bin/uwsgi --ini emojiservice.ini

[Install]
WantedBy=multi-user.target