<!DOCTYPE html>
<html>
    <head>
        <title>Enterprise Emoji Provider</title>
    </head>
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet"> 
    <body>
        <div id="all">
            <div id="container">
              <div id="animate"></div>
            </div>
        </div>
        <div id="text">
            <h1>Enterprise Emoji Provider</h1>
            <!-- <div> -->
                <h2>Hi! Thanks for using our service!</h2>
                <p>It's looks like you are using <b>GET</b> http method, but to get a full experience, you should use <b>POST</b> method instead.</p>
                <h3>Something like this:</h3>
                <p><span>curl -X POST -d '{"word":"hankey", "count":3}' {{ url }}</span></p>
            <!-- </div> -->
        </div>
        <script src="{{ url_for('static', filename = 'emoji-rain.js') }}"></script> 
    </body>
</html>